# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.exp
*.lib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.app

# pg_regress
results/
regression.diffs
regression.out
tmp_check/
tmp_check_iso/
output_iso/
log/

# Editors
.vscode/
.DS_Store
